:root {
    --font-heading-01 : 'Roboto', sans-serif;
    --font-paragraph-01 : 'Merriweather', serif;

    --color-accent-color: rgb(255, 153, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
    transition: 0.3s;
}

body {
    overflow-x: hidden;
}
h1 {
    font-family: var(--font-heading-01);
}
h2 {

}
p {
    font-family: var(--font-paragraph-01);
}
/* nav bar */
.nav-container {
    z-index: 100;
    display: grid;
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 5.5rem;
    top: 0;
    grid-template-columns: 1fr 2fr;
    padding-left: 3rem;
    padding-right: 3rem;
}
.nav-container-hidden {
    transform: translateY(-5.5rem);
    box-shadow: none;
}
.logo {
    height: 85px;
}
.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.nav-links li {
    margin-top: 1.6rem;
    list-style: none;
    margin-right: 1rem;
}
.nav-links a {
    font-size: 20px;
    font-family: var(--font-heading-01);
    text-decoration: none;
    color: #000;
}
.donate-btn {
    display: block;
    margin-top: 0.8rem;
    height: 45px;
    width: 180px;
    color: #fff;
    border: none;
    border-radius: 12px;
    background: var(--color-accent-color);
    cursor: pointer;
}
.donate-btn:hover {
    transform: scale(1.03);
}
.nav-links a:hover {
    color: var(--color-accent-color);
}
.hamburger-menu {
    display: none !important;
}
.hamburger-menu:hover {
    color: var(--color-accent-color);
}
/* nav responsive */
@media (max-width: 1024px) {
    .nav-links {
        display: none;
    }
    .hamburger-menu {
        display: block !important;
        text-align: end;
        margin-top: 1.6rem;
        padding-top: 0.7rem;
    }
}
/* hero */
.hero-container {
    display: grid;
}
.hero-img-bg {
    width: 100%;
    height: 100%;
    filter: brightness(60%);
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.hero-text h1,p {
    padding: 0.6rem;
    color: #fff;
}
.hero-text h1 {
    font-family: var(--font-heading-01);
    font-size: 4rem;
}
.hero-text p {
    font-family: var(--font-paragraph-01);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.donate-btn-primary {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: var(--font-heading-01);
    width: 12rem;
    height: 3.5rem;
    border: none;
    border-radius: 12px;
    color: #fff;
    background:var(--color-accent-color);
}
.donate-btn-primary:hover {
    transform: scale(1.03);
}
/* about section */
.about-border {
    display: block;
    height: 10rem;
    visibility: hidden;
}

