:root {
    --font-heading-01 : 'Roboto', sans-serif;
    --font-heading-02 : 'Playfair Display', serif;
    --font-paragraph-01 : 'Merriweather', serif;

    --color-accent-color: rgb(255, 153, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.loader {
    background-color: #fff;
    height: 100vh;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    transition: opacity 2s, visibility 2s;
}
.loader--hidden {
    opacity: 1;
    visibility: hidden;
}
.throbber {
    background: var(---color-primary-1);
    height: 300px;
    width: 300px;
}

body {
    overflow-x: hidden;
}
h1 {
    font-family: var(--font-heading-01);
}
h2 {
    font-family: var(--font-heading-02);
}
p,li {
    font-family: var(--font-paragraph-01);
}
/* nav bar */
.nav-container {
    z-index: 100;
    display: grid;
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 5.5rem;
    top: 0;
    grid-template-columns: 1fr 2fr;
    padding-left: 3rem;
    padding-right: 3rem;
}
.nav-container-hidden {
    transform: translateY(-5.5rem);
    box-shadow: none;
}
.logo {
    height: 85px;
}
.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.nav-links li {
    margin-top: 1.6rem;
    list-style: none;
    margin-right: 1rem;
}
.nav-links a {
    font-size: 20px;
    font-family: var(--font-heading-01);
    text-decoration: none;
    color: #000;
    transition: 0.2s;
}
.donate-btn {
    display: block;
    margin-top: 0.8rem;
    height: 45px;
    width: 180px;
    color: #fff;
    border: none;
    border-radius: 12px;
    background: var(--color-accent-color);
    cursor: pointer;
    transition: 0.2s;
}
.donate-btn:hover {
    transform: scale(1.03);
}
.nav-links a:hover {
    color: var(--color-accent-color);
}
.hamburger-menu {
    display: none !important;
    cursor: pointer;
    margin-bottom: 3rem;
}
.nav-menu-active{
    position: fixed;
    display: flex;
    justify-content: start;
    flex-direction: column;
    top: 72px;
    bottom: 0;
    right: 0;
    width: min(75vw, 480px);
    height: 100vh;
    background-color: #fff;
}
.nav-menu-active li {
    margin-left: auto;
}
.nav-menu-active .donate-btn {
    margin-left: auto;
    margin-right: 12px;
}
.hamburger-close {
    display: none;
}
/* nav responsive */
@media (max-width: 1024px) {
    /* nav menu replaced with hamburger menu */
    .nav-links {
        display: none;
    }
    .hamburger-menu {
        display: block !important;
        text-align: end;
        margin-top: 2rem;
    }
    .nav-container {
        z-index: 100;
        display: grid;
        position: fixed;
        background-color: #fff;
        width: 100%;
        height: 4.5rem;
        top: 0;
        padding-left: 10px;
        padding-right: 20px;
    }
    .logo {
        height: 65px;
    }
}
/* hero */
.hero-container {
    display: grid;
}
.hero-img-bg {
    margin-top: 5.5rem;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    filter: brightness(60%);
}
.hero-text {
    position: absolute;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    padding: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    text-align: center;
    align-items: center;
}
.hero-text-color {
    color: #fff;
    padding: 0.6rem;
}
.hero-text h1 {
    font-family: var(--font-heading-01);
    font-size: 4rem;
}
.hero-text p {
    font-family: var(--font-paragraph-01);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.donate-btn-primary {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: var(--font-heading-01);
    width: 12rem;
    height: 3.5rem;
    border: none;
    border-radius: 12px;
    color: #fff;
    background:var(--color-accent-color);
    transition: 0.3s;
}
.donate-btn-primary:hover {
    transform: scale(1.03);
}
@media (max-width: 820px) {
    .nav-container {
        width: 100vw;
    }
    .nav-menu-active{
        display: flex;
    }
    .hero-img-bg {
        margin-top: 5.5rem;
        object-fit: cover;
        width: 100%;
        height: 100vh;
        filter: brightness(60%);
    }
    .hero-text {
        display: flex;
        width: 100%
    }
    .hero-text h1,p{
        font-size: 2.5rem;
    }
}
/* hamburger menu */
@media (max-width: 1024px) {
    .nav-menu-active{
        display: flex;
    }
}
@media (max-width: 768px) {
    .nav-menu-active{
        display: flex;
    }
    .hero-img-bg {
        margin-top: 4.5rem;
        height: 100vh;
        object-fit: cover;
        filter: brightness(60%);
    }
    .hero-text {
        display: flex;
        width: 100%;
    }
    .hero-text h1,p{
        font-size: 2.5rem;
    }
}
@media (max-width: 480px) {
    .nav-menu-active{
        display: flex;
    }
    .hero-img-bg {
        margin-top: 4.5rem;
        height: 100vh;
        object-fit: none;
        filter: brightness(60%);
    }
    .hero-text {
        width: 100%;
        display: flex;
    }
    .hero-text h1,p{
        font-size: 3rem;
    }
}
/* about section */
.about-border {
    display: block;
    margin-top: 12rem;
    height: 6rem;
    visibility: hidden;
}
.about-container {
    display: grid;
    padding: 0rem 8rem;
}
.about-container h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
.about-container h2 {
    font-size: 2.5rem;
}
.about-us-content {
    text-align: center;
    margin-bottom: 3rem;
}
@media (max-width: 820px) {
    .about-border {
        margin-top: 2rem;
        height: 1rem;
    }
    .about-container {
        padding: 0rem 1.5rem;
    }
    .about-container h1 {
        font-size: 3rem;
    }
    .about-container p {
        font-size: 1rem;
    }
}
@media (max-width: 768px) {
    .about-border {
        margin-top: 2rem;
        height: 1rem;
    }
    .about-container {
        padding: 0rem 1.5rem;
    }
    .about-container h1 {
        font-size: 3rem;
    }
    .about-container p {
        font-size: 1rem;
    }
}
@media (max-width: 480px) {
    .about-border {
        margin-top: 2rem;
        height: 5rem;
    }
    .about-container {
        padding: 0rem 1rem;
    }
    .about-container h1 {
        font-size: 3rem;
    }
    .about-container p {
        font-size: 1rem;
    }
}
.about-us-content p {
    padding-bottom: 1rem;
    text-align: start;
}
/* vision&mission */
.vision-mission {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-bottom: 3rem;
}
.vision h2, .mission h2 {
    margin-bottom: 1rem;
}
.mission-list li {
    list-style: circle;
    margin-bottom: 1rem;
}
@media (max-width: 768px) {
    .vision-mission {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0rem 1rem;
    }
}
@media (max-width: 480px) {
    li {
        font-size: 1rem;
    }
    .vision-mission {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0rem 1rem;
    }
}
/* governance */
.governance {
    display: grid;
    text-align: center;
}
.executive-section {
    display: grid;
    justify-content: space-around;
}
.executive-section h2 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.executive-officers {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 80px;
}
.executive-officers li {
    list-style: none;
}
.executive-officers li img {
    background-color: #000;
    height: 200px;
    width: 200px;
    margin-bottom: 1rem;
}
@media (max-width: 1024px) {
    .executive-officers {
        display: grid;
        grid-template-columns: 300px 300px;
        gap: 20px;
    }
}
@media (max-width: 820px) {
    .executive-officers {
        display: grid;
        grid-template-columns: 300px 300px;
        gap: 20px;
    }
}
@media (max-width: 768px) {
    .governance {
        display: flex;
        flex-direction: column;
    }
    .executive-section {
        display: flex;
        flex-direction: column;
    }
    .executive-officers {
        display: grid;
        justify-content: center;
        grid-template-columns: 300px 300px;
        gap: 20px;
    }
}
@media (max-width: 480px) {
    .governance {
        display: flex;
        flex-direction: column;
    }
    .executive-section {
        display: flex;
        flex-direction: column;
    }
    .executive-officers {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}
/* programs section */
.program-border {
    display: block;
    margin-top: 8rem;
    height: 6rem;
    visibility: hidden;
}
.program-container {
    display: grid;
    padding: 0rem 8rem;
}
.program-container h1 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
.program-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.program-container p {
    margin-bottom: 1rem;
}
.mahad-img {
    float: left;
    height: 480px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.braces-img {
    float: right;
    height: 380px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.kagan-img {
    float: left;
    height: 480px;
    width: 720px;
    margin-right: 20px;
    margin-bottom: 20px;
}
@media (max-width: 1024px) {
    .mahad-img {
        height: 300px;
        width: auto;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .braces-img {
        height: 300px;
        width: auto;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
    .kagan-img {
        height: 300px;
        width: auto;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}
@media (max-width: 820px) {
    .program-container {
        padding: 0rem 1.5em;
    }
    .program-container h1 {
        font-size: 3rem;
    }
    .program-container h2 {
        font-size: 2rem;
    }
    .program-container p {
        font-size: 1rem;
    }
    .mahad-img {
        height: 300px;
        width: auto;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .braces-img {
        height: 300px;
        width: auto;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
    .kagan-img {
        height: 300px;
        width: auto;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}
@media (max-width: 768px) {
    .program-container {
        padding: 0rem 1.5em;
    }
    .program-container h1 {
        font-size: 3rem;
    }
    .program-container h2 {
        font-size: 2rem;
    }
    .program-container p {
        font-size: 1rem;
    }
    .mahad-img {
        height: 300px;
        width: auto;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .braces-img {
        height: 300px;
        width: auto;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
    .kagan-img {
        height: 300px;
        width: auto;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}
@media (max-width: 480px) {
    .program-container {
        padding: 0rem 1rem;
    }
    .program-container h1 {
        font-size: 3rem;
    }
    .program-container h2 {
        font-size: 1.5rem;
    }
    .program-container p {
        font-size: 1rem;
    }
    .mahad-img {
        width: 100%;
        height: auto;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    .braces-img {
        width: 100%;
        height: auto;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
    .kagan-img {
        width: 100%;
        height: auto;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}
/* gallery section */
.gallery-border {
    display: block;
    margin-top: 8rem;
    height: 2rem;
    visibility: hidden;
}
.gallery-container {
    display: grid;
    padding: 0rem 8rem;
}
.gallery-container h1 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
.gallery-cell {
    width: 100%;
    height: auto;
    margin: 0;
}
.flickity-page-dots {
    display: none;
}
@media (max-width: 1024px) {
    .gallery-container {
        padding: 0rem 4rem;
    }
    .gallery-cell {
        width: 100%;
        height: auto;
    }
}
@media (max-width: 820px) {
    .gallery-container {
        padding: 0rem 4rem;
    }
    .gallery-cell {
        width: 100%;
        height: auto;
    }
}
@media (max-width: 768px) {
    .gallery-border {
        margin-top: 2rem;
        height: 3rem;
    }
    .gallery-container {
        display: grid;
        padding: 0rem 1.5rem;
    }
    .gallery-cell {
        width: 100%;
        height: auto;
    }
}
@media (max-width: 480px) {
    .gallery-border {
        margin-top: 2rem;
        height: 5rem;
    }
    .gallery-container {
        display: grid;
        padding: 0rem 0.5rem;
    }
    .gallery-cell {
        width: 100%;
        height: auto;
    }
}
/* footer */
.footer-border {
    display: block;
    margin-top: 8rem;
    height: 1rem;
    visibility: hidden;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    background-color: #fff;
    height: 50vh;
    margin: 0;
}
.logo-footer {
    width: 250px;
    height: auto;
}
.footer h1 {
    color: #000;
    font-size: 2.5rem;
}
.footer p {
    color: #000;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}
@media (max-width: 2560px) {
    .footer {
        height: 30vh;
    }
    .logo-footer {
        width: 250px;
        height: auto;
        margin-bottom: 1rem;
    }
    .foot--content {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .footer-msg {
        text-align: left;
        border-bottom: 0px;
        margin: 0rem 0rem;
        padding: 0rem 6rem;
        margin-bottom: 4rem;
    }
    .footer-msg p {
        padding: 0rem 1rem;
        font-size: 1rem;
    }
    .contact {
        border-left: 1px solid #000;
        text-align: left;
        padding-right: 10rem;
        padding-left: 3rem;
        margin-bottom: 2rem;
    }
    .contact h1 {
        margin-bottom: 0.5rem;
    }
    .contact p {
        font-size: 1rem;
        margin-bottom: 0rem;
    }
    .footer h1 {
        font-size: 2rem;
    }
}
@media (max-width: 1024px) {
    .footer {
        height: 30vh;
    }
    .logo-footer {
        width: 250px;
        height: auto;
        margin-bottom: 1rem;
    }
    .foot--content {
        display: flex;
        flex-direction: row;
    }
    .footer-msg {
        text-align: left;
        border-bottom: 0px;
        margin: 0rem 0rem;
        padding: 0rem 6rem;
        margin-bottom: 4rem;
    }
    .footer-msg p {
        padding: 0rem 1rem;
        font-size: 1rem;
    }
    .contact {
        border-left: 1px solid #000;
        text-align: left;
        padding-right: 10rem;
        padding-left: 3rem;
        margin-bottom: 2rem;
    }
    .contact h1 {
        margin-bottom: 0.5rem;
    }
    .contact p {
        font-size: 1rem;
        margin-bottom: 0rem;
    }
    .footer h1 {
        font-size: 2rem;
    }
}
@media (max-width: 820px) {
    .footer {
        height: 70vh;
    }
    .foot--content {
        display: flex;
        flex-direction: column;
    }
    .logo-footer {
        width: 250px;
        height: auto;
        margin-bottom: 1rem;
    }
    .footer-msg {
        border-bottom: 1px solid #000;
        margin: 0rem 1.5rem;
        padding: 1.5rem 0rem;
        margin-bottom: 4rem;
    }
    .footer-msg p {
        padding: 0rem 1rem;
        font-size: 1rem;
    }
    .contact {
        margin-bottom: 2rem;
    }
    .contact h1 {
        margin-bottom: 0.5rem;
    }
    .contact p {
        font-size: 1rem;
        margin-bottom: 0rem;
    }
    .footer h1 {
        font-size: 2rem;
    }
}
@media (max-width: 768px) {
    .footer {
        height: 70vh;
    }
    .foot--content {
        display: flex;
        flex-direction: column;
    }
    .logo-footer {
        width: 250px;
        height: auto;
        margin-bottom: 1rem;
    }
    .footer-msg {
        border-bottom: 1px solid #000;
        margin: 0rem 1.5rem;
        padding: 1.5rem 0rem;
        margin-bottom: 4rem;
    }
    .footer-msg p {
        padding: 0rem 1rem;
        font-size: 1rem;
    }
    .contact {
        border-left: 0px solid #000;
        margin-bottom: 2rem;
    }
    .contact h1 {
        margin-bottom: 0.5rem;
    }
    .contact p {
        font-size: 1rem;
        margin-bottom: 0rem;
    }
    .footer h1 {
        font-size: 2rem;
    }
}
@media (max-width: 480px) {
    .footer {
        height: 70vh;
    }
    .foot--content {
        display: flex;
        flex-direction: column;
    }
    .logo-footer {
        width: 250px;
        height: auto;
        margin-bottom: 1rem;
    }
    .footer-msg {
        border-bottom: 1px solid #000;
        margin: 0rem 1.5rem;
        padding: 1.5rem 0rem;
        margin-bottom: 0rem;
    }
    .footer-msg p {
        padding: 0rem 1rem;
        font-size: 1rem;
    }
    .contact {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .contact h1 {
        margin-bottom: 0.5rem;
    }
    .contact p {
        font-size: 1rem;
        margin-bottom: 0rem;
    }
    .footer h1 {
        font-size: 2rem;
    }
}