:root {
    --font-heading-01 : 'Roboto', sans-serif;
    --font-heading-02 : 'Playfair Display', serif;
    --font-paragraph-01 : 'Merriweather', serif;

    --color-accent-color: rgb(255, 153, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
    transition: 0.3s;
}

body {
    overflow-x: hidden;
    /* background-color: #000; */
}
h1 {
    font-family: var(--font-heading-01);
}
h2 {
    font-family: var(--font-heading-02);
}
p,li {
    font-family: var(--font-paragraph-01);
}
/* nav bar */
.nav-container {
    z-index: 100;
    display: grid;
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 5.5rem;
    top: 0;
    grid-template-columns: 1fr 2fr;
    padding-left: 3rem;
    padding-right: 3rem;
}
.nav-container-hidden {
    transform: translateY(-5.5rem);
    box-shadow: none;
}
.logo {
    height: 85px;
}
.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.nav-links li {
    margin-top: 1.6rem;
    list-style: none;
    margin-right: 1rem;
}
.nav-links a {
    font-size: 20px;
    font-family: var(--font-heading-01);
    text-decoration: none;
    color: #000;
}
.donate-btn {
    display: block;
    margin-top: 0.8rem;
    height: 45px;
    width: 180px;
    color: #fff;
    border: none;
    border-radius: 12px;
    background: var(--color-accent-color);
    cursor: pointer;
}
.donate-btn:hover {
    transform: scale(1.03);
}
.nav-links a:hover {
    color: var(--color-accent-color);
}
.hamburger-menu {
    display: none !important;
}
.hamburger-menu:hover {
    color: var(--color-accent-color);
}
/* nav responsive */
@media (max-width: 1024px) {
    .nav-links {
        display: none;
    }
    .hamburger-menu {
        display: block !important;
        text-align: end;
        margin-top: 2rem;
    }
    .nav-container {
        z-index: 100;
        display: grid;
        position: fixed;
        background-color: #fff;
        width: 100%;
        height: 4.5rem;
        top: 0;
        padding-left: 10px;
        padding-right: 15px;
    }
    .logo {
        height: 65px;
    }
}
/* hero */
.hero-container {
    display: grid;
}
.hero-img-bg {
    margin-top: 5.5rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(60%);
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.hero-text-color {
    color: #fff;
    padding: 0.6rem;
}
.hero-text h1 {
    font-family: var(--font-heading-01);
    font-size: 4rem;
}
.hero-text p {
    font-family: var(--font-paragraph-01);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.donate-btn-primary {
    text-transform: uppercase;
    font-size: 2rem;
    font-family: var(--font-heading-01);
    width: 12rem;
    height: 3.5rem;
    border: none;
    border-radius: 12px;
    color: #fff;
    background:var(--color-accent-color);
}
.donate-btn-primary:hover {
    transform: scale(1.03);
}
@media (max-width: 768px) {
    .hero-img-bg {
        margin-top: 4.5rem;
        height: 100vh;
        object-fit: cover;
        filter: brightness(60%);
    }
    .hero-text {
        margin-top: 3rem;
        width: 30rem;
    }
    .hero-text h1,p{
        font-size: 2.5rem;
    }
}
@media (max-width: 480px) {
    .hero-img-bg {
        margin-top: 4.5rem;
        height: 100vh;
        object-fit: none;
        filter: brightness(60%);
    }
    .hero-text {
        width: 20rem;
    }
    .hero-text h1,p{
        font-size: 3rem;
    }
}
/* about section */
.about-border {
    display: block;
    margin-top: 12rem;
    height: 6rem;
    visibility: hidden;
}
.about-container {
    display: grid;
    padding: 0rem 8rem;
}
.about-container h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
.about-container h2 {
    font-size: 2.5rem;
}
.about-us-content {
    text-align: center;
    margin-bottom: 3rem;
}
@media (max-width: 768px) {
    .about-border {
        margin-top: 2rem;
        height: 1rem;
    }
    .about-container {
        padding: 0rem 1.5rem;
    }
    .about-container h1 {
        font-size: 3rem;
    }
    .about-container p {
        font-size: 1rem;
    }
}
@media (max-width: 480px) {
    .about-border {
        margin-top: 2rem;
        height: 1rem;
    }
    .about-container {
        padding: 0rem 1rem;
    }
    .about-container h1 {
        font-size: 3rem;
    }
    .about-container p {
        font-size: 1rem;
    }
}
.about-us-content p {
    padding-bottom: 1rem;
    text-align: start;
}
/* vision&mission */
.vision-mission {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-bottom: 3rem;
}
.vision h2, .mission h2 {
    margin-bottom: 1rem;
}
.mission-list li {
    list-style: circle;
    margin-bottom: 1rem;
}
@media (max-width: 768px) {
    .vision-mission {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0rem 1rem;
    }
}
@media (max-width: 480px) {
    li {
        font-size: 1rem;
    }
    .vision-mission {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0rem 1rem;
    }
}
/* governance */
.governance {
    display: grid;
    text-align: center;
}
.executive-section {
    display: grid;
    justify-content: space-around;
}
.executive-section h2 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.executive-officers {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 80px;
}
.executive-officers li {
    list-style: none;
}
.executive-officers li img {
    background-color: #000;
    height: 200px;
    width: 200px;
    margin-bottom: 1rem;
}
@media (max-width: 768px) {
    .governance {
        display: flex;
        flex-direction: column;
    }
    .executive-section {
        display: flex;
        flex-direction: column;
    }
    .executive-officers {
        display: grid;
        justify-content: center;
        grid-template-columns: 300px 300px;
        gap: 20px;
    }
}
@media (max-width: 480px) {
    .governance {
        display: flex;
        flex-direction: column;
    }
    .executive-section {
        display: flex;
        flex-direction: column;
    }
    .executive-officers {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}
/* programs section */
.program-border {
    display: block;
    margin-top: 8rem;
    height: 6rem;
    visibility: hidden;
}
.program-container {
    display: grid;
    padding: 0rem 8rem;
}
.program-container h1 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
.program-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.program-container p {
    margin-bottom: 1rem;
}
.mahad-img {
    float: left;
    height: 480px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.braces-img {
    float: right;
    height: 380px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.kagan-img {
    float: left;
    height: 480px;
    width: 720px;
    margin-right: 20px;
    margin-bottom: 20px;
}